@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap");
@import "tailwindcss";
@plugin "daisyui";
@tailwind utilities;

@layer base {
  :root,
  [data-theme="light"] {
    --bg-color: #fff4de;
    --text-color: #213547;
    --bg-color-inv: #242424;
    --text-color-inv: rgba(255, 255, 255, 0.87);
    --toggle-icon: #facc15; /* light yellow */
    --toggle-border: #facc15;
  }

  [data-theme="dark"] {
    --bg-color: #242424;
    --text-color: rgba(255, 255, 255, 0.87);
    --bg-color-inv: #ffffff;
    --text-color-inv: #213547;
    --toggle-icon: #a3a3a3; /* medium gray */
    --toggle-border: #a3a3a3;
  }

  html {
    font-family: "Manrope", system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
  }
}

.theme-toggle-icon {
  stroke: var(--toggle-icon);
}
.theme-toggle-border {
  border-color: var(--toggle-border);
}

/* Tooltip animations */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate(-50%, -100%) translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -100%) translateY(0);
  }
}

.animate-pulse-once {
  animation: fadeInUp 0.2s ease-out;
}
.theme-toggle-bg {
  background-color: var(--toggle-icon) !important;
}
.theme-toggle-bg:checked {
  background-color: var(--toggle-border) !important;
}
